/* Conteneur du bouton */
.btnContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1.5rem;
}

/* Style du bouton principal */
.btnPrimary {
  background-color: #6a9ea4;
  color: white;
  padding: 8px 14px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Responsive */
@media (max-width: 768px) {
  .btn-primary {
    width: 50%;
    text-align: center;
  }
}
